@font-face {
    font-family: 'HeaderFont';
    src: url(./CaptoonES-Demo.woff2);
    font-weight: 700;
}

body{
    background-size: cover;
    background-image: url('./images/pizza_background.jpg');
}
.whitetext{
    color: rgb(235, 228, 203);
}
main{
    margin: auto;
    margin-top: 20%;
    width: 30%;
    text-indent: 2px;
    word-spacing: 5px;
    font-size: larger;
    text-align: center;
    border: 2px dashed whitesmoke;
    padding: 8px;
}
header{
    margin: 24px;
    font-size: 48px;
    text-align: center;
    font-family: 'HeaderFont'
}
.buttons{
    font-size: 48px;
    font-family: 'HeaderFont';
}
.buttons:hover{
    color: brown;
}
.menu{
    width: 300px;
    position: relative;
    top: 120px;
    left: 350px; 
    transform:scaleY(1.7); 
}
.info{
    width: 200px;
    position: relative;
    top: 40px;
    left: 991px;
    font-size: 44px;
    transform:scaleY(1.2); 
}
.escape{
    width: 300px;
    position: relative;
    top: 260px;
    left: 1421px;
    font-size: 54px;
    transform:scaleY(2); 
}
#dashed{
    text-decoration: line-through;
}
ul{
    font-size: larger;
}
.menu-items{
    width:20%;
    font-family: 'HeaderFont';
}